body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #e6e6e6; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.301);
    width: 400px; 
    text-align: center;
    position: relative; 
}

.close-button {
    cursor: pointer;
    position: absolute; 
    top: 10px;
    left: 15px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; 
    height: 30px; 
    background-color: black; 
    border-radius: 50%; 
    color: white; 
    font-size: 16px; 
}

h1 {
    margin-bottom: 20px;
    font-weight: bold; 
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.login-button {
    width: 25%;
    padding: 10px;
    background-color: #8B8B8B; 
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3; 
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff; 
    cursor: pointer;
}